In [1]:
'''
Problem definitions:
One day ahead prediction: Rolling Linear Regression, ARIMA, Neural Networks, LSTM
Momentum/Mean-Reversion Strategies
Security clustering, portfolio construction/hedging
Which company has biggest chance of being bankrupt? Which one is undervalued (how prices behaved afterwards), what is Return on Investment?

'''

'\nProblem definitions:\nOne day ahead prediction: Rolling Linear Regression, ARIMA, Neural Networks, LSTM\nMomentum/Mean-Reversion Strategies\nSecurity clustering, portfolio construction/hedging\nWhich company has biggest chance of being bankrupt? Which one is undervalued (how prices behaved afterwards), what is Return on Investment?\n\n'

## 1) applying statistical concepts to dataset

In [5]:
# read data
import pandas as pd
import numpy as np

price = pd.read_csv('prices-split-adjusted.csv')
price = price.set_index('symbol')

In [19]:
# linear regression
import statsmodels.api as sm


df = price.loc[['CI']]
df = df.set_index(keys='date',drop = True)

y = price.loc[['CI']]['close']
x, y = np.array(x), np.array(y)

In [20]:
df.head()

               open      close        low       high   volume
date
1/4/2010  35.270000  36.369999  35.180000  36.410000  3227300
1/5/2010  36.419998  36.980000  35.990002  37.500000  4564300
1/6/2010  36.939999  36.900002  36.540001  37.560001  2611900
1/7/2010  36.169998  38.259998  36.000000  38.400002  4950900
1/8/2010  38.360001  37.970001  37.509998  38.360001  2717900